/* RESETEO DE PROPIEDADES */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;

}
/* Para toda la pagina */
a
{
    text-decoration: none;
    
}

/* Body */
body
{
    background-image:url(imagenes/bg.png) ;
}

/* DIV */

div
{
    width: 75%;
    margin-left: 10%;
    position: relative;
}

/*  Header */

header
{
    background-color: white;
}
header nav
{

}

header nav ul /*Valores para el nav completo*/
{

    
    float:  right;
    margin-right: 7%;
    margin-top: 3%;
    background-color: black;
}
header nav ul li /*Valores para las Palabras dentro del nav*/
{
    display: inline-block;
    color: white;
    padding: 20px;
    text-transform: capitalize;
    font-size: large;
}
header nav ul a
{
    color: white;

}
header nav ul li:hover
{
    background-color: rgba(255, 238, 0, 0.973);

}
header nav img
{
    border: 5px solid red;
    margin-left: 7%;
    margin-top: 2%;

}

/* HEADER SECTION */

header h1
{

font-size: x-large;
}

/* header section img
{
    float: right;
    position: relative;
} */



header section
{
   padding: 5%;
   background:url(./imagenes/banner.png) no-repeat right;
   
   border: 5px solid red;
   
   
}

header section p
{
    width: 30%;
    line-height: 2;
    margin-bottom: 2%;
    font-size: medium;
    
    
}
header section a
{
    
    padding: 25px 40px;
    font-size: medium;
    border: 5px solid red;
    color: white;
    
    background-color: black;
}





/* Main */
main
{
background-color: white;
padding: 2%;
width: 65%;
float: left;

}
#services
{
    height: 100%;
}
main h2
{
    border-bottom: 1px dotted black; /*Pintamos el subrayado */
    
}
main section p
{
    line-height: 1.5;
    
    
}
main article h3
{
    width: 20%;
    float: right;
    margin-right: 58%;
    border: 5px solid red;

}
main article p
{
    /* padding: 10px 35px; */
    border: 5px solid red;
    /* clear: both; */
    width: 80%;
    
}

main article img
{
    float: left;
    border: 1px solid gray;
    padding: 1%;
    
    
    
    
}
main article p
{
    margin-left: 5%;
}
main article a
{

}

/*LE DAMOS ALTURA AL SECTION SERVICE*/
#services
{
    height: 200%;
}


/*About Us*/
#aboutUs
{
    margin-top: 5%;

}
#aboutUs img
{
    margin-top: 10px;
}
#aboutUs p
{
    border: 5px solid red;
}

/*TESTIMONIOS */
#testimonios
{
    margin-top: 5%;
}
#testimonios p
{

}







/* Aside */

aside
{
    background-color: white;
    
}

/* Footer */

footer
{
    border: 5px solid red;
    margin-top: 28%;
    background-color: black;
    color: white;
    

}
