/* RESETEO DE PROPIEDADES */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;

}
/* Para toda la pagina */
a
{
    text-decoration: none;
    
}

/* Body */
body
{
    background-image:url(imagenes/bg.png) ;
}

/* DIV */

div
{
    width: 75%;
    margin-left: 10%;
    position: relative;
}

/*  Header */

header
{
    background-color: white;
}


header nav ul /*Valores para el nav completo*/
{
    float:  right;
    margin-right: 7%;
    margin-top: 3%;
    background-color: black;
}
header nav ul li /*Valores para las Palabras dentro del nav*/
{
    display: inline-block;
    color: white;
    padding: 20px;
    text-transform: capitalize;
    font-size: large;
}
header nav ul a
{
    color: white;

}
header nav ul li:hover
{
    background-color: rgba(255, 238, 0, 0.973);

}
header nav img
{
    margin-left: 7%;
    margin-top: 2%;

}

/* HEADER SECTION */

header h1
{

    font-size: 30px;
    margin-right: 60%;
    border-bottom: 1px dotted black; /*Pintamos el subrayado */
   
}



header section
{
   padding: 5%;
   /* padding-right: 5%; */
   background:url(./imagenes/banner.png) no-repeat right;
   border: 2px solid gray;
   /* margin-right: 12px; */

   width: 112%;
   /* border: 5px solid red; */

}


header section p
{
    width: 35%;
    line-height: 2;
    margin-bottom: 2%;
    font-size: medium;
    
    
}
header section div{
    border: 3px solid grey;
    
}

header section a
{
    
    padding: 20px 20px;
    font-size: medium;
    border: 5px solid red;
    color: white;
    
    background-color: black;
}



/* Main */
main
{
background-color: white;
padding: 2%;
width: 65%;
float: left;

}
#services
{
    height: 100%;
}
main h2
{
    border-bottom: 1px dotted black; /*Pintamos el subrayado */
    
}
main section p
{
    line-height: 1.5;

}
main article
{
    margin-bottom: 20px;
    margin-top: 10px;
}
main h3
{
    margin-left: 22%;
    /* border: 5px solid red; */
}

main article p
{
    margin-left: 22%;
}

main article img
{
    float: left;
    border: 1px solid gray;
    padding: 12px;
   
}

main article a
{
    margin-left: 1%;
    color: black;
    font-weight: bold;
}

/*LE DAMOS ALTURA AL SECTION SERVICE*/
#services
{
    height: 200%;
}


/*About Us*/
#aboutUs
{
    margin-top: 10%;
    margin-bottom: 40px;
    /* border: 5px solid red; */

}
#aboutUs p
{
    margin-top: 1%;
    margin-left: 32%;

}
#aboutUs img
{
    float: left;
    margin-top: 10px;
    border: 1px solid gray;
    padding: 15px;
    width: 31%;
    
    
    /* border: 5px solid red; */
}

#aboutUs a
{
    margin-left: 1%;
    color: black;
    font-weight: bold; /*Destacamos en negrita la letra*/
}

/*TESTIMONIOS */
#testimonios
{
    margin-top: 5%;
}
#testimonios p
{
    margin-top: 7px;
    border: 5px solid red;
}





/* ARTICULO DE LAS LATEST NEWS*/

/* Aside */

aside
{
    background-color: white;
    
    margin-left: 65%; /*LO USO  PARA DARLE EL ANCHO CORRECTO AL ASIDE COMPLETO */
    padding: 2%;
    padding-bottom: 13%;
}
aside h2
{
    
    border-bottom: 1px dotted black; /*Pintamos el subrayado */
    
}
aside h3
{
    margin-top: 5%;
}
aside p
{
    border-bottom: 1px dotted black; /*Pintamos el subrayado */
    margin-top: 5%;
    padding-right: 5%;
    line-height: 1.5;
    
   
}

aside a
{
    /* border: 5px solid red; */
    color: black;
    font-weight: bold;
   
}

aside img
{
   padding: 12%;
   margin-left: 5px;
   
   margin-top: 20px;
   border: 1px solid gray;
}

aside article time
{
    
    color: black;
    font-weight: bold;
    float: right;
    margin-right: 30%;
    margin-top: -6%; /*Para poder lograr que el Datetime suba junto al titulo h2*/
   
    background-color: #f7d917;
}

/* Footer */

footer
{
    background-color: black;
    color: white;
    padding: 1%;
}

footer small
{
    padding-left: 15%;
}
footer small+small
{
    float: right;
    margin-right: 20%;
}


